<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/favicon.png" type="image/x-icon">
        <title>{{ page.title }}</title>

    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">accueil</a></li>
                <li><a href="/posts">posts</a></li>
                <li><a href="/projets">travaux & projets</a></li>
                <li><a href="/infos">infos</a></li>
            </ul>
        </nav>
        <div class="container">
            
            {{ content }}

        </div>
        <footer>
            <ul>
                <li><a href="https://github.com/eugnie">github</a></li>
                <li><a href="https://www.researchgate.net/profile/Eugenie-Capdepon">researchgate</a></li>
            </ul>
        </footer>
    </body>
</html>